body{
    background-color: aqua;
    color: black;
}
.default {
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0;
}

.p3{
    color: red;
}

.p4{
display: inline-block;
background-color: white;
}

.p5{
font-family: cursive;
font-size: 24;
font-weight: 500;
}

.p6{
    text-align: right;
}

.p7{
    text-decoration: line-through;
}

.p8{
    line-height: 2px;
}

.p9{
    letter-spacing: 2px;
}

.p10{
    word-spacing: 5px;
}

.p12{
    height: 200px;
}

.p13{
    max-width: fit-content;
}

.p14{
    min-width: 50px;
}

.p15{
    max-height: 20px;
}

.p16{
    min-height: 50px;
}

.p17{
    box-shadow: 0 4px 10px gray;
box-shadow: 2px 2px 5px black;

}