body{
    background-color: aqua;
    color: black;
}
.default {
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0;
}

.p3{
    color: red;
}

.p4{
display: inline-block;
background-color: white;
}

.p5{
font-family: cursive;
font-size: 24;
font-weight: 500;
}

.p6{
    text-align: center;
}
